.worldcup-match {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;

}

body {
    font-family: 'Poppins', sans-serif;
}

.match-detail {
    width: 312px;
    height: 242px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #E8E8E8;
}

.team-name {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.flag {
    margin-top: 35px;
    width: 93.04px;
    height: 54.42px;
}

.match-time {
    color: gray;
    text-align: center;
}

.vs {
    margin-top: 40px;
}

main {
    display: grid;
    grid-template-columns: 312px 312px 312px;
    gap: 30px;
}

.match-info {
    text-align: center;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 210px;
    margin-left: 35px;
}

.navigation {
    background-color: black;
    width: 280px;
    height: 280px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    border-radius: 10px;
    margin-right: 150px;
}

.blog-button {
    color: white;
    background-color: red;
    text-align: center;
    height: 50px;
    width: 210px;
    padding-top: 10px;
    border-radius: 10px;
    margin-left: 35px;
}

.banner {
    background-color: black;
    position: absolute;
    width: 1351px;
    height: 646px;
    left: 140px;
    top: 50px;
    margin-left: 120px;
    border-radius: 20px;
}

.banner-info {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-60%, -75%);
    font-weight: 700;
    font-size: 70px;
    color: white;
    font-size: larger;
    width: 554px;
    height: 420px;
    margin-bottom: 100px;
}

.banner-caption {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

.banner-img {
    float: right;
    padding-left: 20px;
    width: 581px;
    height: 613px;
    left: 801px;
    top: 83px;

}

.banner-detail {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

}

.fa-angles-right {
    padding-left: 10px;
}

/* Live Button styles */
.live-button {
    background-color: crimson;
    border-radius: 7px;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.football-banner {
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

.blog-site {
    padding-right: 200px;
    margin-right: 150px;
    margin-right: 200px;
    margin-top: 750px;
    display: grid;
    grid-template-columns: 312px 312px 312px 312px;
    gap: 30px
}

.goal {
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    height: 250px;
    margin-top: 200px;
    padding-top: 150px;
}

hr {
    border: 0.5px solid gray;
    width: 70%;
}

.footer-info {
    color: gray;
    display: flex;
    justify-content: space-between;
    padding-left: 400px;
    padding-right: 400px;
}

.follow-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 100px;
    padding-right: 100px;

}

.fa-instagram {
    font-size: 40px;
    margin-top: 35px;
}

.fa-youtube {
    font-size: 40px;
    margin-top: 35px;
    color: red;
}

.fa-facebook {
    color: blue;
    font-size: 40px;
    margin-top: 15px;
}

.blog {
    text-decoration: none;
    color: black;
}